<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>To-Do</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
    <script src="//fb.me/react-0.10.0.js"></script>
    <script src="//fb.me/JSXTransformer-0.10.0.js"></script>
</head>
<body>

<div class="container">
    <header>
    </header>
    <section id="main">
    </section>
    <footer>
    </footer>

</div>

<script type="text/jsx">
    /** @jsx React.DOM */

    var List = React.createClass({
        getInitialState: function() {
            return { items: [] };
        },

        componentDidMount: function() {
            $.get(this.props.source, function(result) {
                var items = {};
                console.log(items);
                result.map(function(item) {
                    items[item.id] = item;
                });
                console.log(items);
                this.setState({ items: items });
            }.bind(this));
        },

        addItem: function(newItemValue, callback) {
            var items = this.state.items;
            var newItemData = {
                // TODO: fix this
                index: 0,
                value: newItemValue,
                checked: false
            };

            $.post(this.props.source, newItemData, function(data) {
                items[data.id] = data;
                this.setState({ items: items });
                console.log('added new item');
                console.log(data);
                if (typeof callback === 'function') {
                    callback(data);
                }
            }.bind(this));
        },

        removeItem: function(id) {
            console.log('deleting items[' + id + ']');
            var deleteTarget = this.state.items[id];
            if (!deleteTarget) {
                return;
            }

            $.ajax({
                type: 'DELETE',
                url: this.props.source + '/' + deleteTarget.id,
                success: function() {
                    var items = this.state.items;
                    delete items[id];
                    this.setState({ items: items });
                }.bind(this)
            });
        },

        updateItem: function(newData, callback) {
            console.log(newData);
            $.ajax({
                type: 'PUT',
                url: this.props.source + '/' + newData.id,
                data: newData,
                success: function(data) {
                    var items = this.state.items;
                    items[newData.id] = data;
                    this.setState({ items: items });
                    if (typeof callback === 'function') {
                        callback(data);
                    }
                }.bind(this)
            });
        },

        render: function() {
            var items = this.state.items;
            var deleteCallback = this.removeItem;
            var saveCallback = this.addItem;
            var updateCallback = this.updateItem;

            console.log(items);

            return (
                <ol className="list">
                    {Object.keys(items).map(function(id) {
                        return (
                            <Item key={id}
                                initialData={items[id]}
                                deleteCallback={deleteCallback}
                                updateCallback={updateCallback}
                            />
                        );
                    })}
                    <ItemNewField saveCallback={saveCallback} />
                </ol>
            );
        }
    });

    var ItemNewField = React.createClass({
        getInitialState: function() {
            return { value: '' };
        },

        handleChange: function(evt) {
            this.setState({ value: evt.target.value });
        },

        save: function() {
            if (!this.state.value) {
                return;
            }
            this.props.saveCallback(this.state.value, function() {
                this.setState(this.getInitialState());
            }.bind(this));
        },

        render: function() {
            return (<li><input
                type="text"
                placeholder="New item"
                onChange={this.handleChange}
                onBlur={this.save}
                value={this.state.value}
            /></li>);
        }
    });

    var ItemField = React.createClass({
        getInitialState: function() {
            return {
                value: this.props.initialValue,
                editMode: false
            };
        },

        enableEditMode: function() {
            this.setState({ editMode: true });
        },

        disableEditMode: function() {
            this.setState({ editMode: false });
        },

        handleChange: function(evt) {
            this.setState({ value: evt.target.value });
        },

        save: function() {
            console.log(this.props);
            // TODO: compare state to props to check for changes?
            // after saving, will the new value be in the props?
            var newData = {
                id: this.props.id,
                value: this.state.value
            };
            this.props.updateCallback(newData, function() {
                this.disableEditMode();
            }.bind(this));
        },

        render: function() {
            if (this.state.editMode) {
                console.log(this.state);
                return (
                    <input
                        type="text"
                        onChange={this.handleChange}
                        onBlur={this.save}
                        value={this.state.value}
                    />
                );
            }

            return <span onClick={this.enableEditMode}>{this.state.value}</span>
        }
    });

    var Item = React.createClass({
        getInitialState: function() {
            return this.props.initialData;
        },

        render: function() {
            return (
                <li>
                    <ItemField
                        id={this.state.id}
                        initialValue={this.state.value}
                        updateCallback={this.props.updateCallback}
                    />
                    <DeleteButton
                        id={this.state.id}
                        deleteCallback={this.props.deleteCallback}
                    />
                </li>
            );
        }
    });

    var DeleteButton = React.createClass({
        fire: function() {
            this.props.deleteCallback(this.props.id);
        },
        render: function() {
            return <a onClick={this.fire}>X</a>
        },
    });


    React.renderComponent(
        <List source="/api/items" />,
        document.getElementById('main')
    );
</script>

</body>
</html>
